body {
  background-color: powderblue;
  padding-left: 15%;
}
/* Navigation */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navlist{
  float: left;
  padding: 10px;
}

/* Font Styles */
h1 {
  font-family: cursive;
  color: #404040;
  font-size: 50px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

/* Image */
img {
  border: 20px solid;
  border-color: #404040;
}

/* Links */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: yellow;
}
